<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appitems</key>
	<data>
	YnBsaXN0MDDRAQJUYXBwc9EDBFDfEBIFBgcICQoLDA0ODxAREhMUFRYXGB5DeDQXFzQX
	dUYXNDRGgoNXZW5hYmxlZFN1cmxTc2NsU2J0blNrZXlYbGVmdENURW5ZcmlnaHRDVEVu
	WnBhbkluZXJ0aWFZcGFuSW52ZXJ0VXBhbkNUVnBhbkJ0blZwYW5Nb2RVc2NsRW5XYnRu
	TG9ja1drZXlMb2NrWWN1cnNvck1vZFpjdXJzb3JHYWluXxARY3Vyc29yTW9kaWZpZWRS
	ZXMJ0hkaGxxYcmVsYXRpdmVUYmFzZVIuL9EZHVhmaWxlOi8vL98QFR8gISIjJCUmJygp
	KissLS4vMDEyMxc0NTY3Oj01Fxc+PzRANEFCNDQ0NFhzbW9vdGhFblpzY2xUaHJvdWdo
	WGR1cmF0aW9uVWJyYWtlVXNwZWVkU2FjY1hwYW5lbExwZldscGZEdXJhWXZlcnRJbnZF
	bllob3JpSW52RW5ZaG9yaVNwZWVkW3NoaWZ0U2NsTW9kW3NoaWZ0U2NsSW52WmN0cmxT
	Y2xNb2RaY3RybFNjbEludlljbWRTY2xNb2RaY21kU2NsR2Fpblx2U2NsU2xpZGVyRW5d
	dlNjbFNsaWRlckludlxoU2NsU2xpZGVyRW5daFNjbFNsaWRlckludggQDBAEojg5EAoQ
	FKI7PCM/tHrhR64UfCM/1HrhR64UfBAAI0AUAAAAAAAAFAAAAAAAAAAAAAAAAAACAAAU
	AAAAAAAAAAAAAAAAAAQAABQAAAAAAAAAAAAAAAAAEAAAIz+5mZmZmZmapkRFWFlgYRQA
	AAAAAAAAAAAAAAAAAAADokZHFAAAAAAAAAAAAAAAAAAAAACiSEvRSUpVQ2xpY2vQokxN
	FAAAAAAAAAAAAAAAAAAAAALaTk9QUVJTVFVWBQM0V0Y9Fxc0AxdaaG90a2V5TmFtZVhp
	c0hvdGtleVlhY3Rpb25TZWxZaG90a2V5TW9kWWhvdGtleUtleVdjbGlja1RoWWNsaWNr
	VGhFblltdWx0aVNob3RXYXBwTmFtZRAGFAAAAAAAAAAAAAAAAAAAAASiRlqiW13RSVzQ
	okxe2k5PUFFSU1RVVgUDNF9GPRcXNAMXEAUUAAAAAAAAAAAAAAAAAAAABqJGYqRjZWhr
	0Ulk0KJMZtpOT1BRUlNUVVYFAzRnRj00NDQDFxAN0WlqVE1vdmXQqERsWG9GcnV22k5P
	UFFSU1RVVgUDFz1tbhcXNAMXFAAAAAAAAAAAAAAAAACsASEQfNpOT1BRUlNUVVYFAxc9
	cHEXFzQDFxQAAAAAAAAAAAAAAAAAEAEIEC7aTk9QUVJTVFVWBQMXPXN0Fxc0AxcUAAAA
	AAAAAAAAAAAAAAwBIRAkFAAAAAAAAAAAAAAAAAAAAAHaTk9QUVJTVFVWBQMXPW13Fxc0
	AxcQe6R5enV/FAAAAAAAAAAAAAAAAAAAAA+ie3wUAAAAAAAAAAAAAAAAAAAAGNpOT1BR
	UlNUVVYFAxc9fX40NDQDFxQAAAAAAAAAAAAAAAAAEgEKEBeie4DaTk9QUVJTVFVWBQMX
	PX2BNDQ0AxcQFSM/8AAAAAAAABIBkAAAAAgACwAQABMAFAA7AEMARwBLAE8AUwBcAGYA
	cQB7AIEAiACPAJUAnQClAK8AugDOAM8A1ADdAOIA5QDoAPEBHgEnATIBOwFBAUcBSwFU
	AVwBZgFwAXoBhgGSAZ0BqAGyAb0BygHYAeUB8wH0AfYB+AH7Af0B/wICAgsCFAIWAh8C
	MAJBAlICWwJiAnMCdgKHAooCjQKTApQClwKoAr0CyALRAtsC5QLvAvcDAQMLAxMDFQMm
	AykDLAMvAzADMwNIA0oDWwNeA2MDZgNnA2oDfwOBA4QDiQOKA5MDqAO5A7sD0APhA+MD
	+AQJBAsEHAQxBDMEOARJBEwEXQRyBIMEhQSIBJ0EnwSoAAAAAAAAAgEAAAAAAAAAhAAA
	AAAAAAAAAAAAAAAABK0=
	</data>
	<key>config</key>
	<data>
	YnBsaXN0MDDdAQIDBAUGBwgJCgsMDQ4XGBIZGhsZEhIcHR5Wb3B0Q3NyXxAPbG9uZ1By
	ZXNzUGVyaW9kXxAXbG9uZ1ByZXNzUmVwZWF0SW50ZXJ2YWxaY3Vyc29ySG9sZF1sZWZ0
	RHJhZ0xpbWl0XxASbGVmdERyYWdMaW1pdFJhbmdlXHRhYlNlbGVjdGlvbl8QD3Nob3dE
	ZXNjcmlwdGlvblhoaWRlSWNvblt0aWdodGVuSWNvblVlbWFpbFpyZWdpc3RlcmVkWXRy
	aWFsTGVmdNMPEBESExVSZW5TYWNjU3JlcwiiFBQjQFEwAAAAAACiFhYjQBQAAAAAAAAj
	P+AAAAAAAAAjP7mZmZmZmZoJIwAAAAAAAAAAEAVfEBRlbWFpc2hvYWliQGdtYWlsLmNv
	bSM/8AAAAAAAACPAeSBouRQZygAIACMAKgA8AFYAYQBvAIQAkQCjAKwAuAC+AMkA0wDa
	AN0A4QDlAOYA6QDyAPUA/gEHARABEQEaARwBMwE8AAAAAAAAAgEAAAAAAAAAHwAAAAAA
	AAAAAAAAAAAAAUU=
	</data>
	<key>ee</key>
	<data>
	YnBsaXN0MDDRAQJXb3B0RGljdNQDBAUGBwwNDltjaGFyZ2VMaW1pdFhlZU9wZW5lZFV0
	aGVtZVt0aWdodGVuSWNvbtIICQoLUmVuU3ZhbAkjAAAAAAAAAADSCAkKC9IICQoL0ggJ
	CgsICxMcKDE3Q0hLT1BZXmMAAAAAAAABAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAaA==
	</data>
	<key>keyboards</key>
	<data>
	YnBsaXN0MDDSAQIDBFtzdWJHbG9iYWxFbllrZXlib2FyZHMIqAUWHycwNj5G1gYHCAkK
	CwwREhMUFVRuYW1lXXJlcG9ydERlc2NTdW1bc3ViSXRlbXNTcmNbc3ViSXRlbXNEc3RY
	c3ViQmlkaXJfEA9tYXBJdGVtT2NjdXBpZWTSDQ4PEFdwcm9kdWN0VnZlbmRvclxNWCBL
	ZXlzIE1pbmlYTG9naXRlY2gRP4+goKCg1gYHCAkKCxcaGxwdHtINDhgZXxAiQXBwbGUg
	SW50ZXJuYWwgS2V5Ym9hcmQgLyBUcmFja3BhZFVBcHBsZREu2KCgoKDWBgcICQoLICIj
	JCUm0g0OIRBcUGViYmxlIEszODBzEUGaoKCgoNYGBwgJCgsoKywtLi/SDQ4pKl8QGURl
	bGwgS0IyMTYgV2lyZWQgS2V5Ym9hcmRXVW5rbm93bhEOqaCgoKDWBgcICQoLMSsyMzQ1
	0g0OKSqgoKCg1gYHCAkKCzc5Ojs8PdINDjgQXFVTQiBLZXlib2FyZBEOq6CgoKDWBgcI
	CQoLP0FCQ0RF0g0OQBBdQm9sdCBSZWNlaXZlchEQNKCgoKDWBgcICQoLR0lKS0xN0g0O
	GEhaQXBwbGUgSW5jLhEUcaCgoKAACAANABkAIwAkAC0AOgA/AE0AWQBlAG4AgACFAI0A
	lAChAKoArQCuAK8AsACxAL4AwwDoAO4A8QDyAPMA9AD1AQIBBwEUARcBGAEZARoBGwEo
	AS0BSQFRAVQBVQFWAVcBWAFlAWoBawFsAW0BbgF7AYABjQGQAZEBkgGTAZQBoQGmAbQB
	twG4AbkBugG7AcgBzQHYAdsB3AHdAd4AAAAAAAACAQAAAAAAAABOAAAAAAAAAAAAAAAA
	AAAB3w==
	</data>
	<key>logikeys</key>
	<data>
	YnBsaXN0MDDRAQJZbG9naUtleWJzogNB2wQFBgcICQoLDA0ODxQkMjMzMzQ1NkBUbmFt
	ZVxwbGF0Zm9ybUxpc3RaaWQxYjA0TGlzdFNrZXlacnBSYXRlTGlzdFZycFJhdGVfEBBi
	YWNrTGlnaHRPcHRpb25zWWJhY2tMaWdodFtmbkludmVyc2lvblpmZWF0dXJlTWFwXxAQ
	ZmVhdHVyZUNvbXBsZXRlZNIQERITV3Byb2R1Y3RWdmVuZG9yXE1YIEtleXMgTWluaVhM
	b2dpdGVjaKQVGx4h0xYXGBkZGlVpbmRleFRkZXNjVm9zTWFzaxAAEBXTFhcYHBwdEAEQ
	INMWFxgfHyAQAhBA0xYXGCIiIxADEAivEBYlJicoKSgqKCsoLCgtKC4oLygwKDEmEQEX
	EDQQ4hA6EQEcEOURAQoQ4xEBAxDoEQEIEOcQ6aAUAAAAAAAAAAAAAAAAAAAACBQAAAAA
	AAAAAAAAAAAAAQ0ACdU3ODk6Ozw9PiM/UjEzUjEwUTZRMFIxMhALEAcQDxAMCNsEBQYH
	CAkKCwwNDkJESU0zM05OQE9A0hARQxNcUGViYmxlIEszODBzpEVGR0jTFhcYGRka0xYX
	GBwcHdMWFxgfHyDTFhcYIiIjrxAUMSZKKCooMCguKC0oKygvKEsoTCgQzhBuENSgFAAA
	AAAAAAAAAAAAAAAAAADUOTo7OD5QPyMQCQAIAAsAFQAYAC8ANABBAEwAUABbAGIAdQB/
	AIsAlgCpAK4AtgC9AMoA0wDYAN8A5QDqAPEA8wD1APwA/gEAAQcBCQELARIBFAEWAS8B
	MgE0ATYBOAE7AT0BQAFCAUUBRwFKAUwBTgFPAWABcQFyAX0BgAGDAYUBhwGKAYwBjgGQ
	AZIBkwGqAa8BvAHBAcgBzwHWAd0B9AH2AfgB+gH7AgwCFQAAAAAAAAIBAAAAAAAAAFEA
	AAAAAAAAAAAAAAAAAAIX
	</data>
	<key>mice</key>
	<data>
	YnBsaXN0MDDRAQJUbWljZaIDYN8QFQQFBgcICQoLDA0ODxAREhMUFRYXGBkeKSopKysp
	LC0vMDE0QyJPUi5TIlRuYW1lVm9wdENzclVkcGlFblhkcGlJbmRleFtyYXRjaGV0TW9k
	ZV5kaXNlbmdhZ2VQb2ludFZ0b3JxdWVaaGlSZXNXaGVlbFhwcmVzc3VyZVZoYXB0aWNX
	cGF0dGVybllwYXR0ZXJuRW5XdHdVc2FnZVh0d0Rpckludld0d1NwZWVkXxAQT25ib2Fy
	ZFByb2ZpbGVFblZxdWlya3NacnBSYXRlTGlzdFZycFJhdGVaZmVhdHVyZU1hcF8QEGZl
	YXR1cmVDb21wbGV0ZWTSGhscHVdwcm9kdWN0VnZlbmRvclxNWCBNYXN0ZXIgM1NYTG9n
	aXRlY2jTHyAhIiMmUmVuU2FjY1NyZXMIoiQlI0BRMAAAAAAAIwAAAAAAAAAAoicoI0AU
	AAAAAAAAI0A5AAAAAAAACRAkEDIREKWkLi4uLhAApC4uLi6kIiIiItEyM1dIU2Nyb2xs
	0Ko1IjciOiI9IkAi0TI20NE4OVROb25l0NE7PFRab29t0NE+P1dWU2Nyb2xs0NFBQlZC
	dXR0b27QqkRGR0ZJRktGTUbRPkXQIz/wAAAAAAAA0TJI0NE7StDROEzQ0UFO0KRQKVEp
	EMMQxBQAAAAAAAAAAAAAAAAAAAAI1lRVVldYWVpbXF1eX1IxMFEwUTFRNVEyUTQQCBAJ
	EA4QDxAQEA3fEBUEBQYHCAkKCwwNDg8QERITFBUWFxhhYyIuImYrIixnaGlqbHciglIu
	gyLSGhtiHVlMT0dJIE0yNDDTHyAhImRloiQloicoEASkLi4uLqQuLi4upCIiIiLRMmvQ
	qm0ibyJxInMidSLRO27Q0Thw0NEyctDRPnTQ0UF20Kp4RnpGfEZ+RoBG0Tt50NE+e9DR
	Mn3Q0UF/0NE4gdCg01RVWVpbXwAIAAsAEAATAEAARQBMAFIAWwBnAHYAfQCIAJEAmACg
	AKoAsgC7AMMA1gDdAOgA7wD6AQ0BEgEaASEBLgE3AT4BQQFFAUkBSgFNAVYBXwFiAWsB
	dAF1AXcBeQF8AYEBgwGIAY0BkAGYAZkBpAGnAagBqwGwAbEBtAG5AboBvQHFAcYByQHQ
	AdEB3AHfAeAB6QHsAe0B8AHxAfQB9QH4AfkB/gIAAgICEwIgAiMCJQInAikCKwItAi8C
	MQIzAjUCNwI5AmYCawJ1AnwCfwKCAoQCiQKOApMClgKXAqICpQKmAqkCqgKtAq4CsQKy
	ArUCtgLBAsQCxQLIAskCzALNAtAC0QLUAtUC1gAAAAAAAAIBAAAAAAAAAIQAAAAAAAAA
	AAAAAAAAAALd
	</data>
	<key>ver</key>
	<data>
	ODk5NQ==
	</data>
</dict>
</plist>
