<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appitems</key>
	<data>
	YnBsaXN0MDDRAQJUYXBwc9EDBFDfEBIFBgcICQoLDA0ODxAREhMUFRYXGB5DeDQXFzQX
	Z0YXNDRGgoNXZW5hYmxlZFN1cmxTc2NsU2J0blNrZXlYbGVmdENURW5ZcmlnaHRDVEVu
	WnBhbkluZXJ0aWFZcGFuSW52ZXJ0VXBhbkNUVnBhbkJ0blZwYW5Nb2RVc2NsRW5XYnRu
	TG9ja1drZXlMb2NrWWN1cnNvck1vZFpjdXJzb3JHYWluXxARY3Vyc29yTW9kaWZpZWRS
	ZXMJ0hkaGxxYcmVsYXRpdmVUYmFzZVIuL9EZHVhmaWxlOi8vL98QFR8gISIjJCUmJygp
	KissLS4vMDEyMxc0NTY3Oj01Fxc+PzRANEFCNDQ0NFhzbW9vdGhFblpzY2xUaHJvdWdo
	WGR1cmF0aW9uVWJyYWtlVXNwZWVkU2FjY1hwYW5lbExwZldscGZEdXJhWXZlcnRJbnZF
	bllob3JpSW52RW5ZaG9yaVNwZWVkW3NoaWZ0U2NsTW9kW3NoaWZ0U2NsSW52WmN0cmxT
	Y2xNb2RaY3RybFNjbEludlljbWRTY2xNb2RaY21kU2NsR2Fpblx2U2NsU2xpZGVyRW5d
	dlNjbFNsaWRlckludlxoU2NsU2xpZGVyRW5daFNjbFNsaWRlckludggQDBAEojg5EAoQ
	FKI7PCM/tHrhR64UfCM/1HrhR64UfBAAI0AUAAAAAAAAFAAAAAAAAAAAAAAAAAACAAAU
	AAAAAAAAAAAAAAAAAAQAABQAAAAAAAAAAAAAAAAAEAAAIz+5mZmZmZmapkRFXGpjcRQA
	AAAAAAAAAAAAAAAAAAAGokZHFAAAAAAAAAAAAAAAAAAAAACkSEtYW9FJSlVDbGlja9Ci
	TE0UAAAAAAAAAAAAAAAAAAAAAtpOT1BRUlNUVVYFAzRXRj00NDQDF1pob3RrZXlOYW1l
	WGlzSG90a2V5WWFjdGlvblNlbFlob3RrZXlNb2RZaG90a2V5S2V5V2NsaWNrVGhZY2xp
	Y2tUaEVuWW11bHRpU2hvdFdhcHBOYW1lEA3RWVpUTW92ZdCoXF1GYGNkZ2gUAAAAAAAA
	AAAAAAAAAAAABNpOT1BRUlNUVVYFAxc9Xl8XFzQDFxQAAAAAAAAAAAAAAAAAEAEIEC7a
	Tk9QUVJTVFVWBQMXPWFiFxc0AxcUAAAAAAAAAAAAAAAAAAwBIRAkFAAAAAAAAAAAAAAA
	AAAAAAPaTk9QUVJTVFVWBQMXPWVmFxc0AxcUAAAAAAAAAAAAAAAAAKwBIRB8FAAAAAAA
	AAAAAAAAAAAAAAHaTk9QUVJTVFVWBQMXPWVpFxc0AxcQe6JGa6JsbtFJbdCiTG/aTk9Q
	UVJTVFVWBQM0cEY9Fxc0AxcQBaJGcqJzddFJdNCiTHbaTk9QUVJTVFVWBQM0d0Y9Fxc0
	AxcQBqR5emd/FAAAAAAAAAAAAAAAAAAAAA+ie3wUAAAAAAAAAAAAAAAAAAAAGNpOT1BR
	UlNUVVYFAxc9fX40NDQDFxQAAAAAAAAAAAAAAAAAEgEKEBeie4DaTk9QUVJTVFVWBQMX
	PX2BNDQ0AxcQFSM/8AAAAAAAABIBkAAAAAgACwAQABMAFAA7AEMARwBLAE8AUwBcAGYA
	cQB7AIEAiACPAJUAnQClAK8AugDOAM8A1ADdAOIA5QDoAPEBHgEnATIBOwFBAUcBSwFU
	AVwBZgFwAXoBhgGSAZ0BqAGyAb0BygHYAeUB8wH0AfYB+AH7Af0B/wICAgsCFAIWAh8C
	MAJBAlICWwJiAnMCdgKHAowCjwKVApYCmQKqAr8CygLTAt0C5wLxAvkDAwMNAxUDFwMa
	Ax8DIAMpAzoDTwNgA2IDdwOIA4oDmwOwA8EDwwPUA+kD6wPuA/ED9AP1A/gEDQQPBBIE
	FQQYBBkEHAQxBDMEOARJBEwEXQRyBIMEhQSIBJ0EnwSoAAAAAAAAAgEAAAAAAAAAhAAA
	AAAAAAAAAAAAAAAABK0=
	</data>
	<key>config</key>
	<data>
	YnBsaXN0MDDdAQIDBAUGBwgJCgsMDQ4XGBIZGhsZEhIcHR5Wb3B0Q3NyXxAPbG9uZ1By
	ZXNzUGVyaW9kXxAXbG9uZ1ByZXNzUmVwZWF0SW50ZXJ2YWxaY3Vyc29ySG9sZF1sZWZ0
	RHJhZ0xpbWl0XxASbGVmdERyYWdMaW1pdFJhbmdlXHRhYlNlbGVjdGlvbl8QD3Nob3dE
	ZXNjcmlwdGlvblhoaWRlSWNvblt0aWdodGVuSWNvblVlbWFpbFpyZWdpc3RlcmVkWXRy
	aWFsTGVmdNMPEBESExVSZW5TYWNjU3JlcwiiFBQjQFEwAAAAAACiFhYjQBQAAAAAAAAj
	P+AAAAAAAAAjP7mZmZmZmZoJIwAAAAAAAAAAEAVfEBRlbWFpc2hvYWliQGdtYWlsLmNv
	bSM/8AAAAAAAACPAcfAAAAAAAAAIACMAKgA8AFYAYQBvAIQAkQCjAKwAuAC+AMkA0wDa
	AN0A4QDlAOYA6QDyAPUA/gEHARABEQEaARwBMwE8AAAAAAAAAgEAAAAAAAAAHwAAAAAA
	AAAAAAAAAAAAAUU=
	</data>
	<key>ee</key>
	<data>
	YnBsaXN0MDDRAQJXb3B0RGljdNQDBAUGBwwNDltjaGFyZ2VMaW1pdFhlZU9wZW5lZFV0
	aGVtZVt0aWdodGVuSWNvbtIICQoLUmVuU3ZhbAkjAAAAAAAAAADSCAkKC9IICQoL0ggJ
	CgsICxMcKDE3Q0hLT1BZXmMAAAAAAAABAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAaA==
	</data>
	<key>keyboards</key>
	<data>
	YnBsaXN0MDDSAQIDBFtzdWJHbG9iYWxFbllrZXlib2FyZHMIpwUWHycwNj7WBgcICQoL
	DBESExQVVG5hbWVdcmVwb3J0RGVzY1N1bVtzdWJJdGVtc1NyY1tzdWJJdGVtc0RzdFhz
	dWJCaWRpcl8QD21hcEl0ZW1PY2N1cGllZNINDg8QV3Byb2R1Y3RWdmVuZG9yXE1YIEtl
	eXMgTWluaVhMb2dpdGVjaBE/j6CgoKDWBgcICQoLFxobHB0e0g0OGBlfECJBcHBsZSBJ
	bnRlcm5hbCBLZXlib2FyZCAvIFRyYWNrcGFkVUFwcGxlES7YoKCgoNYGBwgJCgsgIiMk
	JSbSDQ4hEFxQZWJibGUgSzM4MHMRQZqgoKCg1gYHCAkKCygrLC0uL9INDikqXxAZRGVs
	bCBLQjIxNiBXaXJlZCBLZXlib2FyZFdVbmtub3duEQ6poKCgoNYGBwgJCgsxKzIzNDXS
	DQ4pKqCgoKDWBgcICQoLNzk6Ozw90g0OOBBcVVNCIEtleWJvYXJkEQ6roKCgoNYGBwgJ
	Cgs/QUJDREXSDQ5AEF1Cb2x0IFJlY2VpdmVyERA0oKCgoAAIAA0AGQAjACQALAA5AD4A
	TABYAGQAbQB/AIQAjACTAKAAqQCsAK0ArgCvALAAvQDCAOcA7QDwAPEA8gDzAPQBAQEG
	ARMBFgEXARgBGQEaAScBLAFIAVABUwFUAVUBVgFXAWQBaQFqAWsBbAFtAXoBfwGMAY8B
	kAGRAZIBkwGgAaUBswG2AbcBuAG5AAAAAAAAAgEAAAAAAAAARgAAAAAAAAAAAAAAAAAA
	Abo=
	</data>
	<key>logikeys</key>
	<data>
	YnBsaXN0MDDRAQJZbG9naUtleWJzogNB2wQFBgcICQoLDA0ODxQkMjMzMzQ1NkBUbmFt
	ZVxwbGF0Zm9ybUxpc3RaaWQxYjA0TGlzdFNrZXlacnBSYXRlTGlzdFZycFJhdGVfEBBi
	YWNrTGlnaHRPcHRpb25zWWJhY2tMaWdodFtmbkludmVyc2lvblpmZWF0dXJlTWFwXxAQ
	ZmVhdHVyZUNvbXBsZXRlZNIQERITV3Byb2R1Y3RWdmVuZG9yXE1YIEtleXMgTWluaVhM
	b2dpdGVjaKQVGx4h0xYXGBkZGlVpbmRleFRkZXNjVm9zTWFzaxAAEBXTFhcYHBwdEAEQ
	INMWFxgfHyAQAhBA0xYXGCIiIxADEAivEBYlJicmKCYpJiomKyYsJi0uLy4wJjEmEOUQ
	OhEBChEBHBDjEQEDEOgQ4hDpEDQRARcRAQgQ56AUAAAAAAAAAAAAAAAAAAAACBQAAAAA
	AAAAAAAAAAAAAQ0ACdU3ODk6Ozw9Pj8jUjEwUTZSMTNSMTJRMBAHEA8QCxAMCNsEBQYH
	CAkKCwwNDkJESU0zM05OQE9A0hARQxNcUGViYmxlIEszODBzpEVGR0jTFhcYGRka0xYX
	GBwcHdMWFxgfHyDTFhcYIiIjrxAUSiYtLksmJSYnJiomMCYxJismTCYQ1BBuEM6gFAAA
	AAAAAAAAAAAAAAAAAADUODs6Nz1QPyMQCQAIAAsAFQAYAC8ANABBAEwAUABbAGIAdQB/
	AIsAlgCpAK4AtgC9AMoA0wDYAN8A5QDqAPEA8wD1APwA/gEAAQcBCQELARIBFAEWAS8B
	MQEzATYBOQE7AT4BQAFCAUQBRgFJAUwBTgFPAWABcQFyAX0BgAGCAYUBiAGKAYwBjgGQ
	AZIBkwGqAa8BvAHBAcgBzwHWAd0B9AH2AfgB+gH7AgwCFQAAAAAAAAIBAAAAAAAAAFEA
	AAAAAAAAAAAAAAAAAAIX
	</data>
	<key>mice</key>
	<data>
	YnBsaXN0MDDRAQJUbWljZaED3xAVBAUGBwgJCgsMDQ4PEBESExQVFhcYGR4pKikrKyks
	LS8wMTRDIk9SLlMiVG5hbWVWb3B0Q3NyVWRwaUVuWGRwaUluZGV4W3JhdGNoZXRNb2Rl
	XmRpc2VuZ2FnZVBvaW50VnRvcnF1ZVpoaVJlc1doZWVsWHByZXNzdXJlVmhhcHRpY1dw
	YXR0ZXJuWXBhdHRlcm5Fbld0d1VzYWdlWHR3RGlySW52V3R3U3BlZWRfEBBPbmJvYXJk
	UHJvZmlsZUVuVnF1aXJrc1pycFJhdGVMaXN0VnJwUmF0ZVpmZWF0dXJlTWFwXxAQZmVh
	dHVyZUNvbXBsZXRlZNIaGxwdV3Byb2R1Y3RWdmVuZG9yXE1YIE1hc3RlciAzU1hMb2dp
	dGVjaNMfICEiIyZSZW5TYWNjU3JlcwiiJCUjQFEwAAAAAAAjAAAAAAAAAACiJygjQBQA
	AAAAAAAjQDkAAAAAAAAJECQQMhEQpaQuLi4uEACkLi4uLqQiIiIi0TIzV0hTY3JvbGzQ
	qjUiNyI6Ij0iQCLRMjbQ0Tg5VkJ1dHRvbtDROzxUWm9vbdDRPj9UTm9uZdDRQUJXVlNj
	cm9sbNCqREZHRklGS0ZNRtE7RdAjP/AAAAAAAADRMkjQ0T5K0NE4TNDRQU7QpFApUSkQ
	xBDDFAAAAAAAAAAAAAAAAAAAAAjWVFVWV1hZWltcXV5fUTBRMVE0UTVRMlIxMBAJEA4Q
	DRAPEBAQCAAIAAsAEAASAD8ARABLAFEAWgBmAHUAfACHAJAAlwCfAKkAsQC6AMIA1QDc
	AOcA7gD5AQwBEQEZASABLQE2AT0BQAFEAUgBSQFMAVUBXgFhAWoBcwF0AXYBeAF7AYAB
	ggGHAYwBjwGXAZgBowGmAacBqgGxAbIBtQG6AbsBvgHDAcQBxwHPAdAB2wHeAd8B6AHr
	AewB7wHwAfMB9AH3AfgB/QH/AgECEgIfAiECIwIlAicCKQIsAi4CMAIyAjQCNgAAAAAA
	AAIBAAAAAAAAAGAAAAAAAAAAAAAAAAAAAAI4
	</data>
	<key>ver</key>
	<data>
	ODkwNA==
	</data>
</dict>
</plist>
